html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(https://www.designyourway.net/blog/wp-content/uploads/2019/02/aesthetic-wallpaper-1-2048x1138.jpg) center no-repeat;
  background-size: cover;
}

hgroup {
  position: fixed;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  border: 5px solid #fff;
  padding: .5em 3em;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
